<form action="/additem" method="POST">
    <h2>Add Item</h2>

    <div class="input-field">
        <input type="text" name="inpitem" autofocus autocomplete="off">
        <label></label>
        {{!-- <label></label> tofix --}}
        
    </div>

    <button type="submit" class="btn">Add</button>

</form>


{{!-- <h2></h2> --}}
<br>
{{#if stems.length}}
<ul>
    {{#each stems}}
    {{!-- each x got id, title, completed --}}
    <li class="stem">
        <form action="/complete" method="POST">

            <label>

                {{#if completed}}
                    <input type="checkbox" checked name="completed">
                    <span class="completed">{{ title }}</span>
                {{else}}
                    <input type="checkbox" name="completed">
                    <span>{{ title }}</span>
                {{/if}}

                <input type="hidden" value="{{_id}}" name="idee">
    
                <button class="btn btn-small" type="submit">Save</button>
            </label>

        </form>
    </li>
    {{/each}}
</ul>     
{{else}}
<p>Nothing to see here.</p>
{{/if}}


