<h2>Todos list</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
    {{!-- each x got id, title, completed --}}
    <li class="todo">
        <form action="/complete" method="POST">

            <label>

                {{#if completed}}
                    <input type="checkbox" checked name="completed">
                    <span class="completed">{{ title }}</span>
                {{else}}
                    <input type="checkbox" name="completed">
                    <span>{{ title }}</span>
                {{/if}}

                <input type="hidden" value="{{_id}}" name="idee">
    
                <button class="btn btn-small" type="submit">Save</button>
            </label>

        </form>
    </li>
    {{/each}}
</ul>     
{{else}}
<p>Nothing, lol.</p>
{{/if}}